#outer-box {
	border: 2px solid #d5d8da;
	border-radius: 4px;
}

#window {
	background-color: rgba(9, 8, 33, 0.562);
}

#text {
	font-family: "Input Sans Narrow";
	color: #d5d8da;
}

#text:selected {
	color: #d5d8da;
	background-color: rgba(141,45,126,1);
}

#input {
	margin: 4px;
	border: 2px solid #d5d8da;
	border-radius: 4px;
	background-color: transparent;
	color: #d5d8da;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 2px 4px;
	margin: 1px 2px;
	background-color: rgba(9, 8, 33, 0.562);

}

#entry:selected {
	background-color: rgba(141,45,126,1);
	border-radius: 4px;
}

